<div class="modal" id="tos">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<h2 class="text-center">Welcome to Pool Party!</h2>
				<p>I hereby confirm that by proceeding and interacting with the protocol I am aware and accept in full the
					<a href="/tos.html"> Legal Notice and Terms of Usage</a></p>
			</div>
			<div class="modal-footer">
				<input type="checkbox" id="accept" onclick="$('#accepted')[0].disabled = !this.checked" /> <label for="accept">I agree</label>
				<button id="accepted" class="btn btn-primary" onclick="login()" disabled>Accept</button>
			</div>
		</div>
	</div>
</div>