<!-- Modal -->
<div class="modal fade" id="proposalModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content border-white" style="border-radius: 20px;">
      <!-- <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">Create a proposal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body px-5 text-center">
        <h3 class="mt-3 text-blue">Create your proposal</h3>
        <div class="my-4" id="e-kind"></div>
        <p>Please include a brief comment on why this would be beneficial for the Pool Party ecosystem</p>
        <textarea class='form-control w-100 my-3' id="e-description" placeholder="Please add a brief description of your proposal"> </textarea>
        
        <!-- <div class="text-center"> -->
          <small>After submitting, the proposal will be voted on by the council in a spance of <strong class="dao-time">7 days</strong>.</small><br>
          <button type="button" onclick="submit_proposal()" class="btn btn-get-started my-3">Submit Proposal</button>
        <!-- </div> -->
      </div>
      <!-- <div class="modal-footer text-centered">
        
      </div> -->
    </div>
  </div>
</div>